{% extends "main.html" %}
{% load static %}
{% block content %}

<main class="flex-shrink-0">
    {% include 'navbar.html' %}
    <!-- Header -->
    <header class="bg-dark py-5">
      <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
          <div class="col-lg-8 col-xl-7 col-xxl-6">
            <div class="my-5 text-center text-xl-start">
              <h1 class="display-5 fw-bolder text-white mb-2">Grayson Towncar</h1>
              <p class="lead fw-normal text-white-50 mb-4">Grayson Towncar offers luxury transportation in Orlando for families. Airport transfers, Disney rides, and cruise transfers—book your ride today and travel with comfort and peace of mind!</p>
              <p class="text-white-50 mb-4">Rated 5 stars by over 300 happy families!</p>

            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                <a class="btn btn-outline-primary btn-lg px-4 me-sm-3" href="#features">Book Now</a>
                <a class="btn btn-outline-light btn-lg px-4" href="#!">Contact Us</a>
              </div>
            </div>
          </div>
          <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
            <img class="img-fluid rounded-3 my-5" src="{% static "images/suburban.png" %}" alt="..." />
          </div>
        </div>
      </div>
    </header>
{% endblock  %}
