{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
  <div class="container my-5">
    <h2>Book Your Ride</h2>
    <p>
      <strong>Vehicle: {{ trip.vehicle }}</strong>
    </p>
    <p>
      <strong>Route: {{ trip.route }}</strong>
    </p>
    <p>
      <strong>Trip Type: {{ trip_type }}</strong>
    </p>
    <p>
      <strong>Base Price: ${{ price }}</strong>
    </p>
    <form method="post">
      <div class="form-group">
        {% csrf_token %}
        {{ customer_form|crispy }}
        {{ reservation_form|crispy }}
        <button type="submit" class="btn btn-success">Continue to Payment</button>
      </div>
    </form>
  </div>
{% endblock %}
