@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



/* alert message styling */

.notification-wrapper {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  width: auto;
}

.notification {
  background-color: white;
  color: #212529;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  border-radius: 4px;
  padding: 12px 24px;
  width: 350px;
  text-align: center;
  font-size: 16px;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.notification.success {
  border-left: 4px solid #28a745;
}

.notification.danger {
  border-left: 4px solid #dc3545;
}

.notification.warning {
  border-left: 4px solid #ffc107;
}

.notification.info {
  border-left: 4px solid #17a2b8;
}