/*hover over animation*/
.hover-elevate {
    transition: transform 0.3s ease-in-out;
}

.hover-elevate:hover {
    transform: translateY(-5px);
}

#fleet .card-img-top {
    height: 200px;
    object-fit: cover;
    object-position: center;
}

#fleet .row>div:nth-child(2) .card-img-top {
    object-fit: contain;
    padding: 1px;
}

#fleet .row>div:nth-child(3) .card-img-top {
    object-fit: contain;
    padding: 1px;
}

#fleet .row>div:nth-child(1) .card-img-top {
    object-fit: contain;
    padding: 0px;
}