{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Grayson Towncar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
  </head>
  <body>
    {% include 'navbar.html' %}
    
    {% if messages %}
    <div class="notification-wrapper">
      {% for message in messages %}
      <div class="notification {{ message.extra_tags }}">
        {{ message }}
      </div>
      {% endfor %}
    </div>
    {% endif %}
    
    {% block content %}
    {% endblock %}

    {% block newsletter %}
      {% include 'newsletter.html' %}
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/alerts.js' %}"></script>
    {% include 'footer.html' %}
  </body>
</html>