
/*become a partner button*/
.subscribe-btn {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: #0d6efd;
    border: 2px solid #0d6efd;
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    overflow: hidden;
    z-index: 1;
}

.subscribe-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: #0d6efd;
    transform: scale(0);
    transition: transform 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    z-index: -1;
}

.subscribe-btn:hover::before {
    transform: scale(1.1);
    /* slightly larger than the button */
}

.subscribe-btn:hover {
    color: #fff;
    scale: 1.05;
    box-shadow: 0 0px 20px rgba(13, 110, 253, 0.4);
}

.subscribe-btn:active {
    scale: 1;
}