.form-container {
    width: 320px;
    border-radius: 0.75rem !important;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    color: rgb(17, 17, 17);
    margin-top: 60px !important;
    box-shadow: 5px 5px 5px 5px #aaaaaa;
    margin-bottom: 60px !important;
}

.title {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}

.form {
    margin-top: 1.5rem;
}

.input-group {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.input-group label {
    display: block;
    color: rgba(156, 163, 175, 1);
    margin-bottom: 4px;
}

.input-group input {
    width: 100%;
    border-radius: 0.375rem !important;
    border: 1px solid rgb(80, 86, 95);
    outline: 0;
    background-color: rgb(255, 255, 255);
    padding: 0.75rem 1rem;
    color: rgb(69 69 69);
}

.input-group input:focus {
    border-color: #0d6efd;
}

.forgot {
    display: flex;
    justify-content: flex-end;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(156, 163, 175, 1);
    margin: 8px 0 14px 0;
}

.forgot a,
.signup a {
    color: rgba(156, 163, 175, 1);
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s, transform 0.3s;
}

.forgot a:hover,
.signup a:hover {
    text-decoration: none;
    color: #645bff;
    transform: scale(1.1);
}

.social-message {
    display: flex;
    align-items: center;
    padding-top: 1rem;
}

.line {
    height: 1px;
    flex: 1 1 0%;
    background-color: rgba(156, 163, 175, 1);
}

.social-message .message {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgba(156, 163, 175, 1);
    padding-top: 0.75rem;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons .icon {
    border-radius: 0.125rem !important;
    padding: 0.75rem;
    border: none;
    background-color: transparent;
    margin-left: 8px;
    transition: background-color 0.3s, transform 0.3s;
}

.social-icons .icon svg {
    height: 1.25rem;
    width: 1.25rem;
    fill: #505050;
    transition: fill 0.3s;
}

.social-icons .icon:hover {
    background-color: #ffffff;
    transform: scale(1.1);
}

.social-icons .icon:hover svg {
    fill: #645bff;
}

.signup {
    text-align: center;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(156, 163, 175, 1);
    margin-top: 20px;
}


button {
    --primary-color: #645bff;
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 0.7em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
}

button .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

button .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
}

button .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
}

button:hover {
    background-color: var(--hover-color);
}

button:hover .arrow {
    background: var(--secondary-color);
}

button:hover .arrow:before {
    right: 0;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

#login-form,
#register-form {
    transition: all 0.3s ease-in-out;
}