/* Add the feature class styling here */
.feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
}

/* Add a subtle transition for the icons */
.feature i {
    transition: transform 0.2s ease;
}

/* Add a hover effect to make the icons more interactive */
.feature:hover i {
    transform: scale(1.2);
}

/* If you want the hover effect for the cards */
.hover-elevate {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-elevate:hover {
    transform: translateY(-5px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.bg-hero-dark, .bg-navbar-dark, .bg-footer-dark, .bg-button-dark {
    background-color: #0A1428 !important;
}

.bg-custom-light-gold {
    background-color: #F0E6D2 !important;
} 

.custom-button-bg {
    background-color: #dbba72 !important;
}

.custom-button-bg:hover {
    background-color: #c9a851 !important;
}

.custom-bg-gold1 {
    background-color: #F0E6D2 !important;
}

.about-gradient {
    background: linear-gradient(to top, #486581, #D6E6F2) !important;
}

.about-gradient2 {
    background: linear-gradient(to right, #c89c3ccd, #c89c3c5f) !important;
}

.about-gradient3 {
    background: linear-gradient(to left, #9b9b9bcd, #ffffffd6) !important;
}

.home-gradient {
    background: linear-gradient(to bottom, #ffa01bb1, #ffffffd6) !important;
}

.fleet-gradient {
    background: linear-gradient(to bottom, #c89c3cc5, #ffffff) !important;
}